@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,900&family=Roboto:wght@100;400&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

:root {
  background-color: #ffffff;
}
